<p>Edit Tweet</p>

<form method="POST" action="/tweets/<%=@tweet.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <p>Edit That Tweet!</p>
  <input type="text" name="content" id="content" value="<%=@tweet.content%>">

  <input type="submit" value="Edit Tweet", name="Edit Tweet" id="Edit Tweet">
</form>
