<p>Edit Tweet</p>

<p><%=@tweet.content%></p>

  <form method="POST" action="/tweets/<%=@tweet.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH"
  <label for "content">Edit That Tweet!</label>
  <input type="submit" id="Edit Tweet" value="Edit Tweet">
  </form>
