<p>Edit Tweet</p>
<p><%=@tweet.content%></p>
<%if @tweet.user_id == current_user.id%>
  <form method="PATCH" action="/tweets/:id">
  <label for "content">Edit That Tweet!</label>
  <input type="submit" id="edit" value="Edit That Tweet!">
  </form>
<%end %>
