<p>Edit Tweet</p>

  <form method="POST" action="/tweets/<%=@tweet.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for "Edit Tweet">Edit That Tweet!</label>
  <input type="text" name="content" value="<%=@tweet.content%>">
  <input type="button" id="Edit Tweet" value="submit">
  </form>
