<li><%=@tweet.content%></li>
<li><%=@tweet.user.username%></li>

<p>Delete Tweet</p>
<form method="POST" action="/tweets/delete">
  <label for "content">Delete That Tweet! </label>
  <input type="submit" id="delete" value="Tweet that Tweet!">
</form>

<p>Edit Tweet</p>
<form method="PATCH" action="/tweets/:id">
<label for "content">Edit That Tweet!</label>
<input type="submit" id="edit" value="Edit That Tweet!">
</form>
